@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&family=Tilt+Neon&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(90deg,rgb(39, 38, 38), black);
  color: white;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}